/* theme color  */

:root {
  --primary-dark: #2c061f;
  --text-grey: #374045;
  --action-yellow: #d89216;
  --light-yellow: #e1d89f;
}
a {
  text-decoration: none;
  color: var(--action-yellow);
}
a:hover {
  text-decoration: none;
  color: var(--action-yellow);
}

/* header and navs  */
.nav-colors {
  background: var(--primary-dark);
}

.nav-link {
  color: var(--light-yellow);
}

/* |||||  TOGGLE MENU BAR |||| */
/* =========================================================================================== */
.menubar {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: var(--action-yellow);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* |||||||||| */
/* ============================================================================================ */

.become_an_author_btn {
  font-size: 1em;
  color: white;
  /* text-transform: uppercase; */
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  background: var(--action-yellow);
}
/* .become_an_author_btn a{
    text-decoration: none;

} */
.become_an_author_btn:hover {
  background: var(--light-yellow);
}

/* Global styles  */
/* |||||||||||||||||||||||||||||||||||||| */
/* style for images  */
.image_fit {
  transition: 1s;
  object-fit: cover;
  object-position: 100% 0%;
}
.image_scroll:hover {
  cursor: pointer;
  transition: 1s;
  object-position: 0% 100%;
}

/* ----------------------------- */
/* Style for texts  */
.sidebar__heading {
  font-weight: 500;
  color: var(--primary-dark);
}
.sidebar_meta {
  font-size: 12px;
}
.sidebar_social {
  font-size: 30px;
  color: #4c6ef5;
}

/* Button  */
.read_more{
  transition: .5s;

}
.read_more:hover{
  transition: .5s;
  background: var(--action-yellow);
  color: white;
  padding: 5px 10px;
}

/* All widgets  */
.widget {
  overflow: hidden;
  border: none;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.238);
}
.widget:hover {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.238);
}

.transparent {
  background: rgba(235, 235, 235, 0.224);
}
.sidebar_box{
  padding: 15px 10px;
}
.sidebar_box:hover{
  cursor: pointer;
  background: white;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.238);
}

/* TOAST ======================================= */
.toast_mgs{
  position: absolute;
  top: 10%;
  right: 30px;
  height: 50px;
  width: 250px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-radius: 10px; */

 
}
.done{
  box-shadow: 0px 3px 10px rgba(0, 184, 0, 0.591);
}
.failed{
  box-shadow: 0px 3px 10px rgba(184, 15, 0, 0.591);
}

/* ================================= */
.center{
  display: flex;
  justify-content: center;
  align-items: center;

}


/* Dashboard======================================================== */
.dash_body{
  background-image: url('../uploads/post_images/mountain.jpg');
}
.dashboard-mmenu-bg{
 padding-top: 10px;
 padding-bottom: 10px;
  
  background: var(--text-grey);
}

.dash_image{
  border-radius: 100px;
  object-fit: cover;
  object-position: 100% 0%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.449);

}

/* ============= */
.post_image {
  width: 100%;
  /* height: 185px; */
}
.overlay {
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 92%;
  opacity: 1;
  transition: 0.5s ease;
  background-color: #00000045;
}

.front_content {
  padding-top: 10px;
}
.front_content h4 {
  color: white;
}
.front_content p {
  color: var(--light-yellow);
  font-size: 12px;
}
.cat_name,
.cat_popular {
  font-size: 15px;
  background: var(--action-yellow);
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}
.cat_popular {
  margin-left: 10px;
  background: var(--primary-dark);
}

.front_content > .top_meta {
  color: var(--light-yellow);
}
.top_meta img {
  height: 20px;
  width: 20px;
  border-radius: 100px;
}

/* ++++++++++++++++++++++++++++++  TOP POSTS +++++++++++++++++++++++++ */

/* ================ ROWS ++++++++++++++++++++++ */
.row_category {
  position: absolute;
  top: 5px;
  margin: 10px;
  background-color: var(--action-yellow);
  color: white;
  padding: 10px;
}
.row-image {
  transition: 1s;
  cursor: pointer;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 0%;
}
.row-image:hover {
  transition: 1s;
  object-position: 0% 100%;
}
.content_widget {
  height: 250px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -100px;
}

.blog-tittle {
  font-size: 20px;
  color: var(--primary-dark);
}
.blog-tittle:hover {
  color: var(--action-yellow);
  text-decoration: none;
}
.row-post-author {
  font-size: 16px;
}
.row-post-author img {
  height: 20px;
  width: 20px;
  /* border-radius: 100px; */
}

/* _______________________________ */

.hide {
  display: none;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search_modal {
  background: rgba(255, 255, 255, 0.537);
}
.search_modal_overlay {
  background: rgba(0, 0, 0, 0.537);
}
